/* 
    Created on : Mar 23, 2019, 2:20:44 PM
    Author     : Lavesh
*/

.companyName{
    -fx-font-size: 48px;
/*    -fx-text-alignment: center;*/
    -fx-padding: 4 0 0 20;
}
.programDescription{
    -fx-font-size: 25px;
/*    -fx-padding: 0 0 40 200;*/
    -fx-padding: 0 0 40 0;
}
.InputLabels{
    -fx-font-size: 18px;
    -fx-padding: 0 10 0 10;
}
.InputFields{
    -fx-font-size: 18px;
    -fx-background-radius: 5px;
}
.CalculateButton{
/*    -fx-padding: 4 0 20 20;*/
}
.root   
{  
    -fx-font-family : "serief";  
/*    -fx-background-color: rgb(225,227,2255);  */
    -fx-background-color: #38eeff;
}  